{{ $clickstream := site.Params.aws_clickstream }}
{{- if $clickstream.enable }}
<script src="https://github.com/awslabs/clickstream-web/releases/download/v0.9.0/clickstream-web.min.js"></script>
<script>
    window.ClickstreamAnalytics.init({
        appId: '{{ $clickstream.app_id }}',
        endpoint: '{{ $clickstream.endpoint }}',
        isLogEvents: true,
        pageType: window.PageType.multiPageApp, //multiPageApp
        sendMode: window.SendMode.Batch, //Immediate
    })
</script>
{{- end -}}